.nav-link {
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  border-radius: .5rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.nav-link:hover {
  background-color: white;
  color: black;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link:focus {
  outline: none;
}

.nav-link.active {
  background-color: white;
  color: black;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link.active ~ .nav-link {
  animation: moveBox 0.5s forwards;
}

@keyframes moveBox {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(
      calc(100% + 16px)
    );
  }
}
